div.jBackground {
	background-image: url('../images/kittens.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	align-self: center;
	background-position: center; 
	color: #C0C0C0;
}

h1 {
	text-align: center;
}

#animal-form{
	text-align: center;
}

div.jFooter {
	background-color: #4a9700;
	text-align: center;
}

h5 {
	color: #C0C0C0;
}

.animal {
	background-color: #C0C0C0;
	width: 5%;
	height: 50%;
	color: black;
}

#add-animal {
	color: black;
	background-color: #C0C0C0;
}